{% extends 'base.html' %}
{% block content %}

<h2>Chris Redfield</h2>

<img class="pic" src="https://i.pinimg.com/564x/6d/3b/81/6d3b816e91ac803c6b8ae6160b689796.jpg">

<p class="text">
    Captain Chris Redfield is an American Special Operations Unit operator in the Bioterrorism Security Assessment Alliance, in which he has served since its foundation in 2003. Redfield has built up and dedicated his career in destroying Bio Organic Weapons and fighting against producers and sellers of bioweapons after his experiences with bioterrorism in 1998. He is the older brother of TerraSave member Claire Redfield. He is also the mentor of American superhuman Rosemary Winters.
</p>

{% endblock %}