{% extends 'base.html' %}
{% block content %}

<h2>Jill Valentine</h2>

<img class="pic" src="https://i.pinimg.com/564x/29/37/aa/2937aa1d1c08936721ade25deea91c2e.jpg">

<p class="text">
    Jill Valentine is an American Special Operations Agent (SOA) of the Bioterrorism Security Assessment Alliance, of which she is a co-founder and an original member. She is a respected high-ranking operator, owing to her commitment in eradicating bioterrorism and her survival amid to the Biohazardous outbreaks in Arklay County in 1998.
</p>

{% endblock %}