{% extends 'base.html' %}
{% block content %}

<h2>Leon Scott Kennedy</h2>

<img class="pic" src="https://i.pinimg.com/564x/68/f8/41/68f84176f419ce591c793e8fe3b40285.jpg">

<p class="text">
    Leon Scott Kennedy is an American of Italian descent currently employed as a federal agent by the Division of Security Operations (D.S.O.), a counter-terrorism agency under direct Presidential command. Kennedy is a known survivor of the 1998 Raccoon City Destruction Incident, at the time a police officer. Following his escape, he was forcefully recruited into a top secret anti-Umbrella team under USSTRATCOM devoted to anti-B.O.W. combat, serving it until 2011 in repeated operations around the world.
</p>

{% endblock %}